

.content-wrapper{
    width: 80%;

    margin: 8% 0% 10% 10%;
  


   padding-top: 15%;
border: 1px solid black;
border-radius: 40%;
 background-color: grey;


}
.content-wrapper img {
    width: 10%;
    margin-left: 75%;
   margin-top: -15%;
   margin-bottom: 10%;
   position: relative;
}
.text-wrapper{
    width: 40%;
    position: relative;
    margin-top:-19.75%;
    margin-left: 17%; 

}

.text-wrapper p{
    margin-bottom: 2%; 
    color : white;
    font-size: 160%;

}
